@model IEnumerable<ProyectoClub.Models.Actividad>

@{
    ViewData["Title"] = "Eventos";
}

<h1>Actividades</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Habilitada</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.Habilitada</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a>
                   @*  <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex  mb-3">
    <a asp-action="Create" class="btn">Crear Actividad</a>
    <a asp-controller="Admin" asp-action="Dashboard" class="btn">Volver al Dashboard</a>
</div>
