@model IEnumerable<ProyectoClub.Models.Sede>

@{
    ViewData["Title"] = "Sedes";
}

<h1>Sedes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Capacidad</th>
            <th>Habilitada</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habilitada)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
@*                 <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>

<div class="d-flex mb-3">
    <a asp-action="Create" class="btn ">Crear Sede</a>
    <a asp-controller="Admin" asp-action="Dashboard" class="btn">Volver al Dashboard</a>
</div>